<h2>Listing Atlanta Restaurants</h2>

<%= link_to 'New restaurant', new_restaurant_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
  </tr>

  <% @restaurants.each do |restaurant| %>
    <tr>
      <% if restaurant.atlanta? %>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.thoughts %></td>
        <td><%= link_to 'Show', restaurant_path(restaurant) %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant_path(restaurant),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>
